.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2em 2em 2em;
    border-radius: 1px solid black;
    text-align: center;
    font-size: 1em;
}
.header div{
    text-align: center;
    border: 1px solid black;
}
.number-of-cats {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.info-block {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
}

.cats-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: minmax(1000px, 1fr);
}
.cats-grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(82px, 300px));
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}
.cats-grid div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat {
    border: 5px solid grey;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}